<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
 <system.web>
 <authorization>
 <deny users="?" />
 <allow users="*"/>
 </authorization>
 </system.web>

 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
</system.webServer>

<!-- <location path="CreatingUserAccounts.aspx">
 <system.web>
 <authorization>
 <allow users="Tito" />
 <deny users="*" />
 </authorization>
 </system.web>
 </location>-->
</configuration>
